# Ignore compiled object files
*.o
*.obj
*.out
*.exe

# Ignore build directories
build/

# Ignore editor-specific files
.vscode/
.vs/

# Ignore block gamer's file that BREAKS me
CMakePresets.json

# Ignore save files
saves/
